/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  color: #f9faffde;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-shadow: #858ebc -2px 2px 8px;
}

#container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  cursor: pointer;
}

#container label {
  font-size: 24px;    
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

#poem {
  word-break: break-all;
  white-space: pre-line;
  overflow-wrap: anywhere;
  font-size: 28px;
  height: 330px;
  overflow-y: clip;
  overflow-x: clip;
  width: 350px;
  line-height: 36px;
}

a:active, a:hover, a:focus {
  text-shadow: #858ebc -2px 2px 8px;
  color: #f9faffde;
}

.grayed {
  text-shadow: #656565 -2px 2px 8px;
  color: #656565;
}